.jumbotron .right-col p {
    font-weight: 700;
    font-size: 3.9em;

}
.jumbotron .left-col p {
  font-size: 28 px;
}

.contact-info > #address {
    font-size: 25px;
    color: #21b799s;
}

#contact .section-title {
    font-size: 42px;
    color: white;
}

#contact .contact-info address  {
    font-size: 24px;
    color: white;
}

.resume {
  color: white;
}
